<!--Employee tittle and employee search-->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <form action="../../form-result.php" method="post" target="_blank">
        <h2><b>Employe </b>
          <input type="search" name="busquedamusica" placeholder="Search by anything">
        </h2>
      </form>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<!--Show list of employee-->
<table>
  
</table>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <table class="table">
        <thead class="bg-info">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Username</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<!--New employee buttom-->
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-outline-primary">+ Add new employee</button>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<router-outlet></router-outlet>